<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CARDS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="assets/1.jpg" />
        <ion-card-header>
          <ion-card-title>Abilities</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         SNAIL SHELL
        </ion-card-content>
        <ion-card-content>
          TINY TURTLE
         </ion-card-content>
         <ion-card-content>
          BEECH
         </ion-card-content>
         <ion-card-content>
          TORNY CATERPILAR
         </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="assets/2.jpg" />
        <ion-card-header>
          <ion-card-title>Abilities</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         TURNIP
        </ion-card-content>
        <ion-card-content>
          NUT CRACKER
         </ion-card-content>
         <ion-card-content>
          ROSE BUD
         </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="assets/3.jpg" />
        <ion-card-header>
          <ion-card-title>Abilities</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         SANDAL
        </ion-card-content>
        <ion-card-content>
          SILENCE WHISPER
         </ion-card-content>
         <ion-card-content>
          IMP
         </ion-card-content>
         <ion-card-content>
          FISH SNACK
         </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
